 .u-section-1 {
  background-image: url("images/Herobanner.jpg");
  background-position: 50% 26%;
}

.u-section-1 .u-sheet-1 {
  min-height: 952px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  margin: 509px 0 0;
}

.u-section-1 .u-slider-1 {
  min-height: 88px;
  height: auto;
  margin-top: -23px;
  margin-bottom: 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: bold;
  margin: 0 40px;
}

.u-section-1 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-1 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 27.5%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 464px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 96px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 424px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -24px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 392px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -18px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 949px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 50px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 901px;
  margin: 50px auto 60px 120px;
}

.u-section-2 .u-image-1 {
  min-height: 644px;
  background-image: url("images/Me_Rise.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 644px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 512px;
  min-height: 437px;
  height: auto;
  background-image: none;
  margin: 146px auto 0 -61px;
}

.u-section-2 .u-container-layout-3 {
  padding: 25px 59px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 1px;
}

.u-section-2 .u-btn-1 {
  text-transform: none;
  font-weight: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 948px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 39px;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 0px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 819px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 86px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 515px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 614px;
  }

  .u-section-2 .u-group-1 {
    width: 416px;
    margin-top: 117px;
    margin-left: -56px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1417px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -618px;
  }

  .u-section-2 .u-image-1 {
    min-height: 773px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -31px;
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1063px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -170px;
  }

  .u-section-2 .u-image-1 {
    min-height: 487px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1577px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 50px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 100%;
  margin: 50px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 730px;
  --effect-scale: 1.25;
}

.u-section-3 .u-image-1 {
  background-image: url("images/homehearth.jpg");
  transition-duration: 0.75s;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 386px;
  --effect-scale: 1.25;
}

.u-section-3 .u-image-2 {
  background-image: url("images/LS_GameNoUI2.png");
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 344px;
  background-size: auto 110%;
  --effect-scale: 1.25;
}

.u-section-3 .u-image-3 {
  background-image: url("images/TheFinalProject.png");
  background-position: 55.22% 30.65%;
  transition-duration: 0.75s;
  background-size: auto 110%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-group-1 {
  width: 100%;
  min-height: 450px;
  height: auto;
  --effect-scale: 1.25;
  margin: 30px 141px 0 auto;
}

.u-section-3 .u-image-4 {
  background-image: url("images/Pr_MainCharacter0.png");
  background-position: 50% 86.08%;
  transition-duration: 0.75s;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  text-transform: none;
  font-weight: normal;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 0% 62.9%;
    background-size: auto 105%;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 55.22% 30.65%;
  }

  .u-section-3 .u-group-1 {
    background-position: 50% 78.15%;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3796px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1327px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 858px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 764px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    background-size: 105%;
  }

  .u-section-3 .u-layout-cell-3 {
    background-size: 110%;
  }
} .u-section-4 {
  background-image: url("images/pattern.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 716px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 50px 0 0;
}

.u-section-5 .u-group-1 {
  width: 694px;
  min-height: 48px;
  height: auto;
  margin: 50px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-2 {
  margin: 12px 0 0 317px;
}

.u-section-5 .u-text-3 {
  margin: -25px 317px 0 0;
}

.u-section-5 .u-group-2 {
  width: 694px;
  min-height: 48px;
  height: auto;
  margin: 60px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-4 {
  margin: 12px 0 0 317px;
}

.u-section-5 .u-text-5 {
  margin: -25px 317px 0 0;
}

.u-section-5 .u-group-3 {
  width: 694px;
  min-height: 48px;
  height: auto;
  margin: 60px auto;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-6 {
  margin: 12px 0 0 317px;
}

.u-section-5 .u-text-7 {
  margin: -25px 317px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: -21px;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: -21px;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: -21px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 203px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: 203px;
  }

  .u-section-5 .u-group-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 203px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-right: 203px;
  }

  .u-section-5 .u-group-3 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 203px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-right: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 3px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 3px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 3px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 3px;
  }

  .u-section-5 .u-group-3 {
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 3px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 3px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Me_Bridge.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 278px auto 0;
}

.u-section-6 .u-btn-1 {
  text-transform: none;
  font-weight: normal;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }
}